[user]
  name = Yuto Tagashira
  email = ut0s.dev@gmail.com
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
  editor = nano
  quotepath = false
  pager = delta
  excludesfile = /Users/tagashira/.gitignore_global
  ignorecase = false
# [interactive]
#   diffFilter = delta --color-only
[merge]
  tool = meld
  ff = false
[push]
  default = matching

[pack]
  threads = 1

[alias]
  gr = log --graph --all --format="%x09%C(cyan)%C(bold)%an%Creset%x09%C(yellow)%h%x09%Creset%C(green)%C(reverse)%d%Creset%x09%C(bold)%s"
  st = status
  sw = switch
  ci = commit
  co = checkout
  unstage = reset HEAD --
  br = branch
  last = log -1 HEAD

[commit]
  template = ~/dotfiles/git/.gitmessage.txt
[pull]
  ff = only
[rebase]
  autostash = true
[init]
  defaultBranch = main
[delta]
  navigate = true
  light = false
[diff]
  colorMoved = default
[gtr "editor"]
	default = code
[gtr "worktrees"]
	dir = /Users/ut0s/repos
